@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    --White: hsl(0, 0%, 100%);
    --Very-light-grayish-blue: hsl(210, 60%, 98%);
    --Light-grayish-blue-1: hsl(211, 68%, 94%);
    --Light-grayish-blue-2: hsl(205, 33%, 90%);
    --Grayish-blue: hsl(219, 14%, 63%);
    --Dark-grayish-blue: hsl(219, 12%, 42%);
    --Very-dark-blue: hsl(224, 21%, 14%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans' , sans-serif;
}
body{
    background-color: var(--Very-light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: 'Plus Jakarta Sans' , sans-serif;;
    
}
.container{
    width: 700px;
    display: flex;
    background-color: var(--White);
    flex-direction: column;
    padding: 1.5rem;
    border-radius: .5rem;
    gap:1.5rem;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notin-box{
    display: flex;
    align-items: center;
    gap:5px;
}
#notifications{
    background-color: var(--Blue);
    border-radius: .5rem;
    width: 35px;
    height: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 3px;
    color: var(--White);
    font-weight: bold;
}
#mark-all{
    cursor: pointer;
}
#mark-all:hover{
    color: var(--Blue);
}


p{
    color: var(--Dark-grayish-blue);
}
main{
    display: flex;
    flex-direction: column;
    gap:3rem;
}
.time{
    color: var(--Dark-grayish-blue);
}
img{
    width: 3.5rem;
}
.not-card{
    display: flex;
    align-items: center;
    border-radius: .5rem;
    gap:1.2rem;
    padding: .5rem;
    
}
strong{
    color: var(--Very-dark-blue);
    cursor: pointer;
}
strong:hover{
    color: var(--Blue);
}
.unread{
    background-color: var(--Light-grayish-blue-1) !important;  
}
.unread p:first-of-type::after{
    content: "";
    background-color: var(--Red);
    width: 10px;
    height: 10ox;
    border-radius: 50%;
    display: inline-block;
}
.message-card{
    display: flex;
    align-items: center;
    gap:1.2rem;
}
.message{
    border: 1px solid var(--Light-grayish-blue-2);
    padding:1.5rem;
    margin: 0 0 0 5rem;
    border-radius: .5rem;
    
}
.not-cards{
    display: flex;
    flex-direction: column;
}
.chess-img{
    margin-left: auto;
}